#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

#mobile_banner {
  position: relative;
  width:480px;
  height:270px
}
#mobile_banner .slides-container {
  display: none;
}
#mobile_banner .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#mobile_banner .scrollable:after {
  content: "";
  display: table;
  clear: both;
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 30px;
}
.slides-navigation a.next {
  right: 30px;
}

.slides-pagination {
	position: fixed;
	z-index: 3;
	bottom: 110px;
	text-align: center;
	width: 100%;
}
.slides-pagination a {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #fff;
}
